body {
    padding: 0;
    background-color: darkgreen;
    color: white;
}

hr {
    padding: 0;
    margin: 0;
    height: 3px;
    background-color: white;
}

a {
    color: black;
}

.profil_image {
    max-height: 200px;
}
